# Warm up
Let's start with some warm up exercises to get you familiar with the database and do some SQL querying.
Make sure to have downloaded the NBA dataset form Kaggle as described in the README.

Firstly, the purpose of the __name__ == "__main__" construct is to determine whether a Python script is being run as the main program or if it is being imported as a module in another script. When a Python file is executed, the special built-in variable __name__ is set to "__main__". However, if the file is imported as a module, __name__ is set to the module's name. This enables us to run things from the command line.

In [ ]:
import sqlite3 as sql
import pandas as pd
from pathlib import Path

## TODO: Use pathlib to get the path to the data directory. Path(__file__) won't work in a Jupyter notebook.
DATA_PATH = Path.cwd() / 'data'

## Create a SQLite connection and run some SQL queries

In [ ]:
con = sql.connect("/home/cab252/ps_2_ex3_database/data/nba.sqlite")  # connect to the database
query = 'SELECT * FROM game LIMIT 10'  # write a query that selects the first 10 rows from the game table
top_10_game = pd.read_sql(query, con)  # read the query into a pandas dataframe
top_10_game.head()  # print the dataframe

In [ ]:
# let's look at the schema of the database
# TODO: sqlite_master is the name of the table you want to inspeact: Replace TABLE_NAME with the name of the table you want to inspect

query = """
    SELECT *
    FROM sqlite_master
"""

pd.read_sql(query, con).sort_values('name')

In [ ]:
# let's see all the tables we have in the database
# TODO: Filter for tables only
query = """
    SELECT name
    FROM sqlite_master
    WHERE type = 'table'
    ORDER BY name;
"""
pd.read_sql(query, con)

In [ ]:
# let's have a look at the columns in the game table
query = """
    PRAGMA table_info(draft_combine_stats)
"""
pd.read_sql(query, con)

In [ ]:
# let's find the earliest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date
    LIMIT 1
"""

print(pd.read_sql(query, con))

# let's find the latest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date DESC
    LIMIT 1
"""
print(pd.read_sql(query, con))

In [ ]:
# TODO: Find four interesting facts about the data and write a query to find the answer

import pandas as pd
import matplotlib.pyplot as plt

def run_query(con, query):
    """Executes SQL query and returns a DataFrame"""
    return pd.read_sql(query, con)

def plot_bar(df, x, y, title):
    """Creates a simple bar chart"""
    plt.figure(figsize=(8, 5))
    plt.bar(df[x], df[y], color='skyblue')
    plt.title(title)
    plt.xticks(rotation=45)
    plt.show()

In [ ]:
# 1. Top 5 players with the highest average points per game
query1 = """
    SELECT player_id, AVG(points) as avg_points
    FROM player_stats
    GROUP BY player_id
    ORDER BY avg_points DESC
    LIMIT 5
"""
top_scorers = run_query(con, query1)
print(top_scorers)
plot_bar(top_scorers, 'player_id', 'avg_points', 'Top 5 Players by Average Points per Game')